@import "tailwindcss";

@theme {
    --color-background: #060911;
    --color-background-block: #111219;
    --color-main-text: #bac1d1;
    --color-drop-down: #16171f;
    --color-drop-down-hover-item: #1c1d27;
    --color-lite-gray: #5e666e;
    --color-gray: #3a3f45;
    --color-error: #952d24;
    --color-accent: #274896;

    --text-button-text: 14px;
}

@layer components {
    .input_from_user {
        @apply w-[280px] h-[36px] pr-4 pl-[14px] text-main-text text-button-text transition bg-drop-down rounded-[15px]
        overflow-y-auto max-h-[200px] focus:outline-none;
    }

    .hide_calendar {
        @apply overflow-y-auto max-h-[200px] appearance-none [&::-webkit-calendar-picker-indicator]:hidden [&::--moz-calendar-picker-indicator]:hidden;
    }

    .loading_and_error_message {
        @apply flex items-center justify-center w-full h-full text-center text-[17px];
    }
}

select:focus {
    outline: none !important;
}

div:focus,
svg:focus {
    outline: none !important;
}
